name: Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: '0 00 1 * *'

permissions:
  issues: write
  pull-requests: read
  contents: write
  
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    env:
      METRICS_TOKEN: ${{ secrets.METRICS_TOKEN }}
      METRICS_USER: mchittineni
      METRICS_TIMEZONE: London
      METRICS_LANGUAGES_IGNORED: >-
        html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
        gnuplot

    steps:
      - name: Full Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ env.METRICS_TOKEN }}
          filename: metrics/github-metrics.svg
          user: ${{ env.METRICS_USER }}
          template: terminal
          base: header, activity, community, repositories, metadata
          config_timezone: ${{ env.METRICS_TIMEZONE }}
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 300
          plugin_activity_visibility: all
          plugin_calendar: yes
          plugin_calendar_limit: 1
          plugin_habits: yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_habits_languages_limit: 8
          plugin_habits_languages_threshold: 0%
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base
          plugin_traffic: yes
        
      - name: Half-year calendar
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.isocalendar.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_isocalendar: yes

      - name: Full-year calendar
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.isocalendar.fullyear.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

      - name: Using classic charts
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.stargazers.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_stargazers: yes

      - name: Using graph charts
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.stargazers.graph.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_stargazers: yes
          plugin_stargazers_charts_type: graph

      - name: Most used (with details)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.languages.details.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_languages: yes
          plugin_languages_ignored: ${{ env.METRICS_LANGUAGES_IGNORED }}
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 4

      - name: Recently used
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.languages.recent.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_languages: yes
          plugin_languages_ignored: ${{ env.METRICS_LANGUAGES_IGNORED }}
          plugin_languages_sections: recently-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 4

      - name: Indepth analysis
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.languages.indepth.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_languages: yes
          plugin_languages_ignored: ${{ env.METRICS_LANGUAGES_IGNORED }}
          plugin_languages_indepth: yes
          plugin_languages_details: lines, bytes-size
          plugin_languages_limit: 4
          plugin_languages_analysis_timeout: 15

      - name: Mildly interesting facts
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.habits.facts.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: no
          config_timezone: ${{ env.METRICS_TIMEZONE }}

      - name: Recent activity charts
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.habits.charts.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_habits: yes
          plugin_habits_facts: no
          plugin_habits_charts: yes
          config_timezone: ${{ env.METRICS_TIMEZONE }}

      - name: Current year calendar
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.calendar.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_calendar: yes
          
      - name: Full history calendar
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.calendar.full.svg
          token: ${{ env.METRICS_TOKEN }}
          plugin_calendar: yes
          plugin_calendar_limit: 0

      - name: Labels
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.topics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          plugin_topics: yes
          plugin_topics_limit: 12

      - name: Icons
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/metrics.plugin.topics.icons.svg
          token: ${{ secrets.METRICS_TOKEN }}
          plugin_topics: yes
          plugin_topics_limit: 0
          plugin_topics_mode: icons

      - name: Get dates for last month
        run: |
          # Calculate the first date of the previous month
          first_date=$(date -d "last month" +%Y-%m-01)

          # Calculate the last date of the previous month
          last_date=$(date -d "$first_date +1 month -1 day" +%Y-%m-%d)

          # Set an environment variable with the date range
          echo "START_DATE=$first_date" >> "$GITHUB_ENV"
          echo "END_DATE=$last_date" >> "$GITHUB_ENV"
          echo "last_month=$first_date..$last_date" >> "$GITHUB_ENV"

      - name: Report on GitHub Issues
        uses: github/issue-metrics@v3
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SEARCH_QUERY: 'mchittineni/${{ github.event.repository.name }} is:issue created:${{ env.last_month }} -reason:"not planned"'

      - name: Create Report for GitHub Issues
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Monthly GitHub Issue Metrics Report
          token: ${{ secrets.GITHUB_TOKEN }}
          content-filepath: ./issue_metrics.md
          assignees: mchittineni

      - name: Run contributor action
        uses: github/contributors@v1
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          START_DATE: ${{ env.START_DATE }}
          END_DATE: ${{ env.END_DATE }}
          REPOSITORY: mchittineni/${{ github.event.repository.name }}
    
      - name: Create Report for GitHub Contributors
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Monthly Contributor's Report
          token: ${{ secrets.GITHUB_TOKEN }}
          content-filepath: ./contributors.md
          assignees: mchittineni